.landing {
  position: fixed;
  inset: 0;
  z-index: 98;

  transition: opacity 0.8s ease;
}

.landing.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.landing.is-hidden {
  opacity: 0;
  pointer-events: none;
}
